<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Sample Horizontal Form with Icons</h4>
                <h6 class="card-subtitle">Use Bootstrap's predefined grid classes for horizontal form</h6>
                <form [formGroup]="medicoForm" (ngSubmit)="guardar_medico()" class="form-horizontal p-t-20">
                    <div *ngIf="medicoSeleccionado" class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Foto</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <img [src]="medicoSeleccionado.img!|imagen:'medicos'"
                                    class="w200" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input formControlName="nombre" class="form-control" id="exampleInputuname3"
                                    placeholder="Username">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail3" class="col-sm-3 control-label">Hospital</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <select (change)="seleccionar_hospital($event)" formControlName="hospital"
                                    class="form-control">
                                    <option disabled selected value="">Selecciona una opción</option>
                                    <option *ngFor="let hospital of hospitales" [value]="hospital._id">
                                        {{hospital.nombre}}
                                    </option>
                                </select>

                            </div>


                        </div>
                    </div>

                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button [disabled]="medicoForm.invalid" type="submit" class="btn btn-success waves-effect waves-light">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 animated fadeIn fast" *ngIf="hospitalSeleccionado">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospital</h4>
                <h6 class="card-subtitle">{{hospitalSeleccionado.nombre}}</h6>
                <img [src]="hospitalSeleccionado.img|imagen:'hospitales'" class="w200" alt="">

            </div>

        </div>


    </div>


</div>