<div class="row">
    <div class="col-6">
        <app-grafica-dona [title]="'Mi grafica 1'"  [labels]="labels1" [data]="data1"></app-grafica-dona>
    </div>
    <div class="col-6">
        <app-grafica-dona ></app-grafica-dona>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-grafica-dona [title]="'Mi grafica 3'" [labels]="labels3" [data]="data3"></app-grafica-dona>
    </div>
    <div class="col-6">
        <app-grafica-dona [title]="'Mi grafica 4'"  [labels]="labels4" [data]="data4"></app-grafica-dona>
    </div>
</div>